# Virtual environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
dist/
build/

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Node
node_modules/

# Netlify
.netlify/
