<div class="artdeco-carousel__content">
    <div class="pab-featured-section__action-container">
        <a data-control-name="featured_see_all"
            href="/in/iniadewumi/detail/featured-list/urn:li:fsd_profile:ACoAACJSXFQB00YenmKb6RqSqjq7O4NCaV6MWNM/"
            id="ember414" class="artdeco-button artdeco-button--tertiary artdeco-button--muted ember-view"> <span>See
                all</span>
        </a> <button disabled="" id="ember415"
            class="artdeco-button artdeco-pagination__button--previous artdeco-button--circle artdeco-button--muted artdeco-button--2 artdeco-button--tertiary artdeco-button--disabled ember-view">
            <li-icon aria-hidden="true" type="chevron-left-icon" class="artdeco-button__icon"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="mercado-match"
                    data-supported-dps="24x24" fill="currentColor" width="24" height="24" focusable="false">
                    <path d="M17 2L9.5 12 17 22h-2.5L7 12l7.5-10z"></path>
                </svg></li-icon>

            <span class="artdeco-button__text">

            </span>
        </button>
        <button id="ember416"
            class="artdeco-button artdeco-pagination__button--next artdeco-button--circle artdeco-button--muted artdeco-button--2 artdeco-button--tertiary ember-view">
            <li-icon aria-hidden="true" type="chevron-right-icon" class="artdeco-button__icon"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="mercado-match"
                    data-supported-dps="24x24" fill="currentColor" width="24" height="24" focusable="false">
                    <path d="M9.5 2L17 12 9.5 22H7l7.5-10L7 2z"></path>
                </svg></li-icon>

            <span class="artdeco-button__text">

            </span>
        </button>
        <div id="ember417" class="ember-view">
            <div id="ember418"
                class="pab-featured-section__add-featured artdeco-dropdown artdeco-dropdown--placement-bottom artdeco-dropdown--justification-right ember-view">
                <button aria-expanded="false" data-control-name="add_featured" id="ember419"
                    class="artdeco-button artdeco-button--tertiary artdeco-button--circle artdeco-button--muted artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view"
                    type="button" tabindex="0">
                    <li-icon type="plus-icon" role="img" aria-label="Add featured"><svg
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                            fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                            <path d="M21 13h-8v8h-2v-8H3v-2h8V3h2v8h8z"></path>
                        </svg></li-icon>


                    <!---->
                </button>
                <div tabindex="-1" aria-hidden="true" id="ember420"
                    class="pab-add-featured-dropdown artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--justification-right artdeco-dropdown__content--placement-bottom ember-view">
                    <!---->
                </div>
            </div>
        </div><a data-control-name="featured_edit_pencil"
            href="/in/iniadewumi/edit/featured-list/urn:li:fsd_profile:ACoAACJSXFQB00YenmKb6RqSqjq7O4NCaV6MWNM/"
            id="ember421"
            class="artdeco-button artdeco-button--tertiary artdeco-button--circle artdeco-button--muted ember-view">
            <li-icon type="pencil-icon" role="img" aria-label="Edit Featured Items"><svg
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                    fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                    <path
                        d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z">
                    </path>
                </svg></li-icon>
        </a>
    </div>
    <ul id="ember422" class="artdeco-carousel__slider ember-view" style="transform: translateX(0px);">
        <li style="width: 324px; max-width: none; min-width: auto;" data-item-index="0" id="ember423"
            class="artdeco-carousel__item active ember-view">
            <div data-test-display="display" class="artdeco-carousel__item-container">
                <div id="ember424" class="ember-view">
                    <div id="ember425" class="ember-view"><a data-control-name="featured_item_detail_view"
                            href="/in/iniadewumi/detail/overlay-view/urn:li:fsd_profileTreasuryMedia:(ACoAACJSXFQB00YenmKb6RqSqjq7O4NCaV6MWNM,1635470048657)/"
                            id="ember426" class="pab-featured-item-link ember-view">
                            <div style="height: 317px" class="pab-featured-item__card-container">
                                <div
                                    class="full-height display-flex flex-column overflow-hidden artdeco-card Elevation-0dp">

                                    <!---->
                                    <div class="pab-featured-item__ivm-wrapper mb2">
                                        <div class="ivm-image-view-model    full-height">
                                            <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex
ivm-view-attr__img-wrapper--expanded
">
                                                <!----> <img width="308"
                                                    src="https://media-exp1.licdn.com/dms/image/C562DAQGTR6C2jl3M3w/profile-treasury-document-cover-images_480/0/1632344417331?e=1633881600&amp;v=beta&amp;t=LWsb_fXheWyaTmy7XgQmgLqHF75cIKqoJ1X7yBWjgdg"
                                                    loading="lazy" height="164" alt="" id="ember428"
                                                    class="ivm-view-attr__img--centered ivm-view-attr__img pab-featured-item__image lazy-image ember-view">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ph3 pb3">
                                        <h3 class="t-14 t-bold">
                                            <div id="ember429"
                                                class="lt-line-clamp lt-line-clamp--multi-line ember-view"
                                                style="-webkit-line-clamp: 2"> 8-31 Resume.docx

                                                <!---->
                                            </div>
                                        </h3>

                                        <!---->
                                        <!---->
                                    </div>

                                    <!---->
                                </div>
                            </div>

                        </a></div>
                </div>

            </div>
        </li>
        <li style="width: 324px; max-width: none; min-width: auto;" data-item-index="1" id="ember430"
            class="artdeco-carousel__item ember-view">
            <div data-test-display="display" class="artdeco-carousel__item-container">
                <div id="ember431" class="ember-view">
                    <div id="ember432" class="ember-view"><a tabindex="0" data-control-name="featured_item_detail_view"
                            rel="noopener noreferrer" target="_blank" href="https://www.youtube.com/watch?v=YQTvZx1PuNM"
                            id="ember433" class="pab-featured-item-link ember-view">
                            <div style="height: 317px" class="pab-featured-item__card-container">
                                <div
                                    class="full-height display-flex flex-column overflow-hidden artdeco-card Elevation-0dp">

                                    <!---->
                                    <div class="pab-featured-item__ivm-wrapper mb2">
                                        <div class="ivm-image-view-model    full-height">
                                            <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex

">
                                                <!----> <img width="308"
                                                    src="https://media-exp1.licdn.com/dms/image/sync/C5627AQGc-z3drQksWw/articleshare-shrink_480/0/1632756433825?e=1633881600&amp;v=beta&amp;t=qCI93JSE7ZZVUvvT2xjJc1_7x5xNWvpYDWTvn4N7QPA"
                                                    loading="lazy" height="164" alt="" id="ember435"
                                                    class="ivm-view-attr__img--centered pab-featured-item__image lazy-image ember-view">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ph3 pb3">
                                        <h3 class="t-14 t-bold">
                                            <div id="ember436"
                                                class="lt-line-clamp lt-line-clamp--multi-line ember-view"
                                                style="-webkit-line-clamp: 2"> Rawls College of Business Summer 2020
                                                Commencement Speaker

                                                <!---->
                                            </div>
                                        </h3>

                                        <p class="t-12 t-black--light">
                                        <div id="ember437" class="lt-line-clamp lt-line-clamp--single-line ember-view">
                                            YouTube

                                            <!---->
                                        </div>
                                        </p>
                                        <p class="t-normal t-14 mt2">
                                        <div class="inline-show-more-text
inline-show-more-text--is-collapsed
inline-show-more-text--is-collapsed-with-line-clamp


" style="line-height:2rem;max-height:4rem;-webkit-line-clamp:2;">

                                            Olasubomi Inioluwa “Ini” Adewumi, an energy commerce major, represented the
                                            Jerry S. Rawls College of Business as an undergraduate student speaker
                                            during Texas Tech University’s virtual summer commencement in 2020.

                                            <!---->
                                            <!---->
                                        </div>
                                        </p>
                                    </div>

                                    <!---->
                                </div>
                            </div>

                        </a></div>
                </div>

            </div>
        </li>
        <li style="width: 324px; max-width: none; min-width: auto;" data-item-index="2" id="ember438"
            class="artdeco-carousel__item ember-view">
            <div data-test-display="display" class="artdeco-carousel__item-container">
                <div id="ember439" class="ember-view">
                    <div id="ember440" class="ember-view"><a data-control-name="featured_item_detail_view"
                            href="/feed/update/urn:li:activity:6704466198979063808/" id="ember441"
                            class="pab-featured-item-link ember-view">
                            <div style="height: 317px" class="pab-featured-item__card-container">
                                <div
                                    class="full-height display-flex flex-column overflow-hidden artdeco-card Elevation-0dp">

                                    <!---->
                                    <div class="pab-featured-item__ivm-wrapper mb2">
                                        <div class="ivm-image-view-model    full-height">
                                            <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex

">
                                                <!----> <img width="308"
                                                    src="https://media-exp1.licdn.com/dms/image/C5622AQE5bjv_7SIK2A/feedshare-shrink_480/0/1598469303907?e=1636588800&amp;v=beta&amp;t=1_gr7KcxtvKv3QJE2ab8LhGNy26bsEjz3TzxS0XBjV4"
                                                    loading="lazy" height="164" alt="" id="ember443"
                                                    class="ivm-view-attr__img--centered pab-featured-item__image lazy-image ember-view">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="ph3 pb3">
                                        <h3 class="t-14 t-bold">
                                            <div id="ember444"
                                                class="lt-line-clamp lt-line-clamp--multi-line ember-view"
                                                style="-webkit-line-clamp: 2"> Texas Tech University - Rawls College of
                                                Business on LinkedIn: As we begin a new academic year, we are encouraged
                                                by the excellent

                                                <!---->
                                            </div>
                                        </h3>

                                        <p class="t-12 t-black--light">
                                        <div id="ember445" class="lt-line-clamp lt-line-clamp--single-line ember-view">
                                            linkedin.com

                                            <!---->
                                        </div>
                                        </p>
                                        <p class="t-normal t-14 mt2">
                                        <div class="inline-show-more-text
inline-show-more-text--is-collapsed
inline-show-more-text--is-collapsed-with-line-clamp


" style="line-height:2rem;max-height:4rem;-webkit-line-clamp:2;">

                                            As we begin a new academic year, we are encouraged by the excellent work of
                                            our students, staff and faculty. In the past few months: • A new
                                            dual-degree...

                                            <!---->
                                            <!---->
                                        </div>
                                        </p>
                                    </div>

                                    <!---->
                                </div>
                            </div>

                        </a></div>
                </div>

            </div>
        </li>
        <li style="width: 324px; max-width: none; min-width: auto;" data-item-index="3" id="ember446"
            class="artdeco-carousel__item ember-view">
            <div data-test-display="hidden" class="artdeco-carousel__item-container">
                <!---->
            </div>
        </li>
        <li style="width: 324px; max-width: none; min-width: auto;" data-item-index="4" id="ember452"
            class="artdeco-carousel__item ember-view">
            <div data-test-display="hidden" class="artdeco-carousel__item-container">
                <!---->
            </div>
        </li>
        <li style="width: 324px; max-width: none; min-width: auto;" data-item-index="5" id="ember460"
            class="artdeco-carousel__item ember-view">
            <div data-test-display="hidden" class="artdeco-carousel__item-container">
                <!---->
            </div>
        </li>
    </ul>
</div>